@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

li {
    list-style: none;
}

a{ 
    text-decoration: none;
    color: navy;
}

.navbar {
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 2rem;
    font-family: 'Roboto';
    color: black;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 42px;
    font-weight: 532;
    font-size: 18px;
}

.nav-branding {
    font-size: 2rem;
    font-weight: 400;
}

